---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="👩‍💻 Hola holita!"
	description="Un pedacito de mi"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Recónocelo, has leido el título con la voz de Ned Flanders.</p>
</Layout>
